<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :name, id: :recipe_name, class:'form-control', placeholder:'Enter name of recipe...' %>
  </div>
  <div class="form-group">
    <%= form.text_area :instructions, id: :recipe_instructions, class:'form-control', placeholder:'Tell me how you make that again...'%>
  </div>
  <div class="form-group">
    <%= form.number_field :est_time, id: :recipe_est_time, class:'form-control', placeholder: 'How long does this dish take to make?'%>
  </div>
  <div class="form-group">
    <h4>Ingredients</h4>
    <%= form.fields_for :ingredients do |ingredient| %>
      <%= render 'ingredient_fields', f: ingredient %>
    <% end %>
    <div class="links">
      <%= link_to_add_association form, :ingredients, class: 'fas fa-plus' do %>
      <% end %>
    </div>
  </div>
  <%= form.submit class:'btn btn-success' %>
<% end %>
